### Database with Python

### Unicode Characters and Strings

#### ASCII
Each character is represented by a number between  0 and 256 stored in  8bits of memory. We refer to 8bits of memory as bytes of memory. The ord() fucntions tells  us  the numeric value of simple ASCII characters.

#### Unicode
- has lots and lots of character
- UTF-8 has upward compatibility with  ASCII
- UTF-8 is recommended practice for encoding  data to be exchanged between systems.
- In python3, all strings are Unicode.

When  we talk  to an  external  resources like a network socket we sends bytes, so we need to encode Python3 strings into a given character encoding. 
When we read data from an external resource, we must decode  it  based  on the  character set  so it is  properly represented  in Python3 as  a string.

In [ ]:
while True:
    data = mysock.recv(512) # this data is bytes
    if (len(data) < 1):
        break
    mystring = data.decode() # data is turned into  Unicode (UTF-8)
    print(mystring)

### 14.1  Object Oriented Definitions and Terminology
- Class  - a template
- Method or Message - A defined capability of a class
- Field or attribute - A bit  of data in a class
- Object or Instance - A particular  instance of a class

### 14.2 First Class and Object

In [10]:
class PartyAnimal: # construction of a class
    x = 0
    
    def party(self):
        self.x = self.x + 1
        print('So far ', self.x)
        
an = PartyAnimal() # moment of construction

an.party()# invoking of the moment of construction

an.party()

an.party()

So far  1
So far  2
So far  3

In [7]:
print('Type: ', type(an))
print('Dir: ', dir(an))

Type:  <class 'type'>
Dir:  ['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'party', 'x']

#### 14.3 Object Life Cycle

#### Constructor
The primary purpose of the constructor is to set up some instance variables to have the proper initial values when the object is created.

The constructor  and destructor  are optional. The constructor is typically used to set up variables. The destructor is seldom used.

In [12]:
class PartyAnimal: 
    x = 0
    
    def __init__(self):
        print('I am constructed')
    
    def party(self):
        self.x = self.x + 1
        print('So far ', self.x)
    
    def __del__(self):
        print('I am  destructed', self.x)
        
        
an = PartyAnimal() # 'an' is being assigned with PartyAnimal - constructed

an.party() 
an.party()

an = 42 # 'an' is being destructed and assigned a  new value

print('an contains', an)

I am constructed
So far  1
So far  2
I am  destructed 2
an contains 42

#### Many Instances
We can create lots of objects - the class is the template for the object. We can  store each distinct object in  its own  variable. We call this having multiple instances of the  same class. Each instance  has its own copy of the  instance variables.

In [14]:
## Creating  another instance of the same Class PartyAnimal

## simultaneously two objects have same internals -- Class
j = PartyAnimal()
j.party()

I am constructed
I am  destructed 0
So far  1

#### 14.4 Object Inheritance
When we make a new class - we can  reuse an  existing  class and  inherit  all the  capabilities of an existing class and  then  add  our own little bit to make our new class.

- This is another form  of store and  reuse
- Write Once - reuse many times
- The new class (child) has all capabilities of the  old class (parent) - and  then some more.

In [20]:
class SoccerGame:
    place = ''
    x = 0
    
    def __init__(self, pla):
        self.place = pla
        print(self.place, 'constructed')
    
    def party(self):
        self.x = self.x  + 1
        print(self.place, 'party place: ', self.x)


class GameFan(SoccerGame):
    number = 0
    
    def namefan(self):
        self.number = self.number+2
        self.party()
        print(self.place, 'fan number: ', self.number)
        
s = SoccerGame('Kathmandu')
s.party()

print('**********')
j = GameFan('Superfan')
j.party()
j.namefan()

Kathmandu constructed
Kathmandu party place:  1
**********
Superfan constructed
Superfan party place:  1
Superfan party place:  2
Superfan fan number:  2

### 15.1 Relational  Databases
Relational databases model data by storing rows and columns in tables.  The power of relational  databases lies in its ability to efficiently  tetrieve data from  those tables and in particular where there are multiple tables and the relationships between those  tables involved in the query. First Row of the table Is called SCHEMA

- Database  - contains  many tables
- Relation (or table) -  contains tuples and attributes
- Tuple (or row) -  a set of fields that generally  represents an 'objects' like a person  or a music  track
- Attribute - one of possibly many elements of data

#### SQL - Structured Query Language
This  is the  language we use to issue commands to the database.

Commands like 
- create a table, 
- retrieve some data, 
- insert data, 
- delete data.

#### 15.2 Using Database
Database use in Large Projects
- Application Developers - buulds logic for the application, the look and feel of the application, monitors application for problems.
- Database Administrator - Monitors and adjusts the database as the program runs in the production.

Often both people participate in the building of the "data model"

#### Database Model
A database model or database schema is the structure or format of a database, described in a formal language supported by the database management system. Is the application of daba model when used in conjunction with a database management system. SCHEMA is our way of communicating with the database.

- Create Table
- - VARCHAR(128) => 128 max characters

`
CREATE TABLE Users(name VARCHAR(128), email VARCHAR(128) )
`

- Insert - a row in the table
`
INSERT INTO Users(name, email) VALUES('Pana', 'pana@gmial.mcin')
`

- Delete - a row matches WHERE clause

`
DELETE FROM Users WHERE email='pana@gmial.mcin'
`

- Update - a row matches WHERE clause

`
UPDATE Users SET name = 'princess' WHERE email = 'aditi@gmail.com'
`

- Retrieve

`
SELECT * FROM Users
`
- Retrieve one 

`
SELECT * FROM Users WHERE email='aditi@gmial.com'
`
- Retrieve and Order

`
SELECT * FROM Users ORDER BY email
`
or
`
SELECT * FROM Users ORDER BY name
`

#### Creating a database table

In [ ]:
import sqlite3

# Makes connection to the database (in the same directory)
# If the file does not exist - it will be created.
conn = sqlite3.connect('music.sqlite')

# This opens up the connection previously made
cur = conn.cursor()

# Will drop the table in the file music.sqlite, if there is any
cur.execute(
'''
DROP TABLE IF EXISTS Tracks
''')

# Create a database table within the file
cur.execute(
'''
CREATE TABLE Tracks (title TEXT, plays INTEGER)
'''
)


# Closes the connection
conn.close()

#### Assignment 15.3
This application will read the mailbox data (mbox.txt) and count the number of email messages per organization (i.e. domain name of the email address) using a database with the following schema to maintain the counts.

In [6]:
import sqlite3

conn = sqlite3.connect('emaildb.sqlite')
cur = conn.cursor()

# Will drop the table if there is any
cur.execute(
'''
DROP TABLE IF EXISTS Counts
''')

# Create a database table
cur.execute(
'''
CREATE TABLE Counts (org TEXT, count INTEGER)
'''
)

# Get a filename and open it
fname = input('Enter file name: ')
if (len(fname) < 1): fname = 'mbox.txt'
fh = open(fname)

# Loop through the file name
for line in fh:
    
    # We only need lines that starts with 'From: '
    if not line.startswith('From: '): continue
    pieces = line.split()
    email = pieces[1]
        
    # split the email at '@'
    splitemail = email.find('@')
        
    # find and grab --> the organization, after '@' till email string ends
    org = email[splitemail+1:len(email)]
        
    # Open the database from here
    cur.execute('SELECT count from Counts WHERE org = ?', (org,))
        
    # grab the data to the database (this is not yet written)
    row = cur.fetchone()
        
    # if the row is new, we add org and count
    if row is None:
        cur.execute(
        '''
        INSERT INTO Counts (org, count) VALUES (?, 1)
        ''', (org,)
        )
     # if the row exists, we just update the count into the org  
    else:
        cur.execute(
        '''
        UPDATE Counts SET count = count + 1 WHERE org = ?
        ''', (org,)
        )
    
    # this will write the row in the database
    # Remember the position of the commit inside the loop vs outside
    # commit() outside the loop does the job faster, here its inside
    conn.commit()

# Run the database, with desc limit of 10
sqlstr = '''SELECT org, count FROM Counts ORDER BY count DESC LIMIT 10'''


# executing cur.execute(sqlstr), for each of it
for row in cur.execute(sqlstr):
    
    # get a tuple where row[0] = organization domain, and row[1] = count
    print(str(row[0]), row[1])
    
# Close the cursor connection   
cur.close()

Enter file name:
iupui.edu 536
umich.edu 491
indiana.edu 178
caret.cam.ac.uk 157
vt.edu 110
uct.ac.za 96
media.berkeley.edu 56
ufp.pt 28
gmail.com 25
et.gatech.edu 17

### 15.4 Designing a Data Model
This is about linking multiple tables. Database design is an art form of its own with particular skills and experience. The goal is to avoid the really really bad mistakes and design clean and easily understood databases.

#### Building a Data Model
- Don't put the same string data twice. use a relationship instead
- Copy the real world model

#### Assignment Example
In this assignment you will parse an XML list of albums, artists, and Genres and produce a properly normalized database using a Python program.

In [20]:
import xml.etree.ElementTree as ET
import sqlite3

conn = sqlite3.connect('trackdb.sqlite')
cur = conn.cursor()

# Make some fresh tables using executescript()
cur.executescript('''
DROP TABLE IF EXISTS Artist;
DROP TABLE IF EXISTS Album;
DROP TABLE IF EXISTS Track;

CREATE TABLE Artist (
    id  INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    name    TEXT UNIQUE
);

CREATE TABLE Album (
    id  INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    artist_id  INTEGER,
    title   TEXT UNIQUE
);

CREATE TABLE Track (
    id  INTEGER NOT NULL PRIMARY KEY 
        AUTOINCREMENT UNIQUE,
    title TEXT  UNIQUE,
    album_id  INTEGER,
    len INTEGER, rating INTEGER, count INTEGER
);
''')


fname = input('Enter file name: ')
if ( len(fname) < 1 ) : fname = 'Library.xml'

# <key>Track ID</key><integer>369</integer>
# <key>Name</key><string>Another One Bites The Dust</string>
# <key>Artist</key><string>Queen</string>

# Create a funtion here, that sorts out 
def lookup(d, key):
    found = False
    
    # Loop through the children inside the dictionary
    for child in d:
        
        # If found == True, then return child.text
        if found : return child.text
        
        # If child.tag has 'key' and child.text == key manipulate it
        if child.tag == 'key' and child.text == key :
            found = True
    return None

# XML lookup and parse
stuff = ET.parse(fname)
all = stuff.findall('dict/dict/dict')
print('Dict count:', len(all))



for entry in all:
    if ( lookup(entry, 'Track ID') is None ) : continue

    name = lookup(entry, 'Name')
    artist = lookup(entry, 'Artist')
    album = lookup(entry, 'Album')
    count = lookup(entry, 'Play Count')
    rating = lookup(entry, 'Rating')
    length = lookup(entry, 'Total Time')

    if name is None or artist is None or album is None : 
        continue

    # print(name, artist, album, count, rating, length)
    
    
    # Getting primary key of the table 
    # INSERT or IGNORE ==> Artist name is unique, if its already  there, don't insert again
    # ? ==> Placeholder for python programming
    # artist is a tuple, and ',' ==> is the second tuple
    cur.execute('''INSERT OR IGNORE INTO Artist (name) 
        VALUES ( ? )''', ( artist, ) )
    
    # Need Artist ID, if its not there already
    cur.execute('SELECT id FROM Artist WHERE name = ? ', (artist, ))
    # We need to create Artist ID from the resulting value
    artist_id = cur.fetchone()[0]

    cur.execute('''INSERT OR IGNORE INTO Album (title, artist_id) 
        VALUES ( ?, ? )''', ( album, artist_id ) )
    cur.execute('SELECT id FROM Album WHERE title = ? ', (album, ))
    album_id = cur.fetchone()[0]

    # INSERT if none, OR REPLACE/UPDATE the Track Table in the end
    cur.execute('''INSERT OR REPLACE INTO Track
        (title, album_id, len, rating, count) 
        VALUES ( ?, ?, ?, ?, ? )''', 
        ( name, album_id, length, rating, count ) )

    conn.commit()

Enter file name:
Dict count: 404
<Element 'key' at 0x7fb1084e3bf0>

#### Assignement 15.4
In this assignment you will parse an XML list of albums, artists, and Genres and produce a properly normalized database using a Python program.


Download File - https://www.py4e.com/code3/tracks.zip

In [22]:
import sqlite3
import xml.etree.ElementTree as ET

# Part One - Prepare the database
conn = sqlite3.connect('tracks.sqlite')
cur = conn.cursor()

# Dropping/Deleting Database tables if already in there
cur.executescript("""
    DROP TABLE IF EXISTS Artist;
    DROP TABLE IF EXISTS Album; 
    DROP TABLE IF EXISTS Genre;
    DROP TABLE IF EXISTS Track
    """)


# Creating Database
cur.executescript(''' CREATE TABLE Artist (
    id  INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    name    TEXT UNIQUE
);

CREATE TABLE Genre (
    id  INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    name    TEXT UNIQUE
);

CREATE TABLE Album (
    id  INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    artist_id  INTEGER,
    title   TEXT UNIQUE
);

CREATE TABLE Track (
    id  INTEGER NOT NULL PRIMARY KEY 
        AUTOINCREMENT UNIQUE,
    title TEXT  UNIQUE,
    album_id  INTEGER,
    genre_id  INTEGER,
    len INTEGER, rating INTEGER, count INTEGER
);

''')

print("Part One -- Done")

# Part Two - Extracting Data from XML
# Getting the data and parsing it
fname = input("Enter XML Document Name: ")
if (len(fname) < 1): 
    fname = 'Library.xml'

fh = open(fname)
data = fh.read()
xml_data = ET.fromstring(data)


# Obtaining every tag with track data
all_list = xml_data.findall("dict/dict/dict")
print("Part Two -- Initializations..")
print('Dict Count:', len(all_list))

# so going through each element on the list
for track in all_list:

    # if there is no Track ID = is None, skip and continue
    if ( lookup(track, 'Track ID') is None ) : continue
        
    # Everything else,  look  for value match and save
    name = lookup(track, 'Name')
    artist = lookup(track, 'Artist')
    genre = lookup(track, 'Genre')
    album = lookup(track, 'Album')
    count = lookup(track, 'Play Count')
    rating = lookup(track, 'Rating')
    length = lookup(track, 'Total Time')
    
    
    if name is None or artist is None or album is None  or genre  is  None: 
        continue

    # print(name, artist, album, count,  genre, rating, length)

    # For Artist Table
    if (artist): 
        statement = """INSERT INTO Artist(name) SELECT ? WHERE NOT EXISTS 
            (SELECT * FROM Artist WHERE name = ?)"""
        SQLparams = (artist, artist)
        cur.execute(statement, SQLparams)

    # For Genre Table
    if (genre):  
        statement = """INSERT INTO Genre(name) SELECT ? WHERE NOT EXISTS 
            (SELECT * FROM Genre WHERE name = ?)"""
        SQLparams = (genre, genre)
        cur.execute(statement, SQLparams)

    # For Album Table
    if (album):  
        
        # First --> get the artist id
        artistID_statement = "SELECT id from Artist WHERE name = ?"
        cur.execute(artistID_statement, (artist,))
        
        # .fetchone() returns a one-element tuple, and we want its content
        artist_id = cur.fetchone()[0]

        # Second --> Make the table
        statement = """INSERT INTO Album(title, artist_id) 
            SELECT ?, ? WHERE NOT EXISTS (SELECT * FROM Album WHERE title = ?)"""
        SQLparams = (album, artist_id, album)
        cur.execute(statement, SQLparams)

    # For Track Table
    if (title):

        # First --> get genre
        genreID_statement = "SELECT id from Genre WHERE name = ?"
        cur.execute(genreID_statement, (genre,))
        
        try:
            # when the query is run, it will fetch the first value 
            # and save it inside genre_id
            genre_id = cur.fetchone()[0]
        except TypeError:
            # set genre id to 0
            genre_id = 0

        # Second --> get album_id
        albumID_statement = "SELECT id from Album WHERE title = ?"
        cur.execute(albumID_statement, (album,))

        try:
            # when the query is run, it will fetch the first value 
            # and save it inside album_id
            album_id = cur.fetchone()[0]

        # if it blows up
        except TypeError:

            # set album id to 0
            album_id = 0

        # Inserting data --> SUMMARIZING 
        track_statement = """
        INSERT INTO Track(title, album_id, genre_id, len, rating, count) 
        SELECT ?, ?, ?, ?, ?, ? 
        WHERE NOT EXISTS 
        (SELECT * FROM Track WHERE title = ?)
        """
        SQLparams = (title, album_id, genre_id, length, rating, count, title)

        # track_statement should have 6 placeholders , SQLparams should have 6 variables with values in it
        cur.execute(track_statement, SQLparams)

# Commiting
conn.commit()
# Closing Cursor
cur.close()


print("********************")
print("Database Created and Exported")

Part One -- Done
Enter XML Document Name:
Part Two -- Initializations..
Dict Count: 404
********************
Database Created and Exported

### 15.8 Many-to-Many Relationships
For some model, relationship that is many to many, we need to add a connection table with two foreign keys. There is usually no seperated primary keys.

In [ ]:
# import
import json
import sqlite3

# Create Database and open a connection
conn = sqlite3.connect('rosterdb.sqlite')
cur = conn.cursor()

# Drop if already exists, then Create 3 tables
cur.executescript('''
DROP TABLE IF EXISTS User;
DROP TABLE IF EXISTS Member;
DROP TABLE IF EXISTS Course;

CREATE TABLE User (
    id     INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    name   TEXT UNIQUE
);

CREATE TABLE Course (
    id     INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    title  TEXT UNIQUE
);

CREATE TABLE Member (
    user_id     INTEGER,
    course_id   INTEGER,
    role        INTEGER,
    PRIMARY KEY (user_id, course_id)
)
''')

# Open the JSON file
fname = input('Enter file name: ')
if len(fname) < 1:    fname = 'roster_data_sample.json'

# [
#   [ "Charley", "si110", 1 ],
#   [ "Mea", "si110", 0 ],

str_data_before = open(fname)
print("the data type of str_data is" + str(type(str_data_before)))
print(str_data_before)

str_data_after = str_data_before.read()
print("the data type of str_data is" + str(type(str_data_after)))
print(str_data_after)

json_data = json.loads(str_data_after)
print("the data type of json_data is" + str(type(json_data)))
print(json_data)

print("Looping for each entry in json_data...")
# INSERTING THE DATA
for entry in json_data:

    name = entry[0];
    title = entry[1];

    print((name, title))

    print("Executing SQL statements")

    # insert or ignore means if it blows up, just ignore it,
    # OR IGNORE MEANS MAKE SURE THE INSERTED IS ALREADY IN TABLE AND
    # NO DUPLICATES ARE INSERTED
    sql_statement = '''
    INSERT OR IGNORE INTO User (name)
    VALUES ?
    '''
    sql_value = name
    cur.execute(sql_statement, sql_value)





    # get the id
    sql_statement = '''
    SELECT id FROM User
    WHERE name = ?
    '''
    sql_value = name
    cur.execute(sql_statement, sql_value)
    user_id = cur.fetchone()[0]






    sql_statement = '''
    INSERT OR IGNORE INTO Course (title)
    VALUES ?
    '''
    sql_value = title
    cur.execute(sql_statement, sql_value)



    sql_statement = '''
    SELECT id FROM Course
    WHERE title = ?
    '''
    sql_value = title
    cur.execute(sql_statement, sql_value)
    course_id = cur.fetchone()[0]


    # if there is a duplicate, if combinication is already there then theis will be automatically become update request
    sql_statement = '''
    INSERT OR REPLACE INTO Member (user_id, course_id)
    VALUES (?,?)
    '''
    sql_value = (user_id,course_id)
    cur.execute(sql_statement, sql_value)


print("Commiting..")
conn.commit()
print("Commiting done!")